.site-nav-right
  display: none

.menu-item-links a
  display: inline-flex
  align-items: center
  gap: 4px
  font-size: 0

.menu-item-links a i
  font-size: 14px

.menu-item-links a::after
  content: '友链'
  font-size: 14px
